
form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

input[type="radio"]{
  margin: 5px;
}

textarea {
  resize: none;
  height: 96px;
}

textarea {
  width: 50%;
}

legend {
  background-color: hotpink;
}

.input-1-2 {
  width: 100%;
}

.beats {
  display: block;
}

#header{
  position:fixed;
  height: 75px;
  display:block;
  width: 100%;
  background: #ffccff;
  z-index:1;
  padding: 20px 0 0 0;
  top:0px;
  text-align: right;
}

#tracking {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  textarea {
    width: 100%;
  }
  form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }
}
