body {
  font-family: Book Antiqua; !important;
  font-size: 16px; !important;
}

h1, h3{
  text-align: center; !important;
}

h1 {
  color: #4e0606; !important;
}

/* FORM */
form {
  margin-left: 20%; !important;
  margin-right: 20%;!important; 
  margin-top: 20px; !important;
}

fieldset {
   margin: 0; !important;
   padding: 0.35em 0 0.75em; !important;
   border: 0; !important;
   margin-bottom: 10px; !important;
}

legend {
   display: block; !important;
   width: 97%; !important;
   padding: 0.8em 0 0.8em 1em; !important;
   margin-bottom: 0.3em; !important;
   color: #F8F8FF; !important;
   border-bottom: 1px solid #e5e5e5; !important;
   background-color: #4e0606; !important;
   font-weight: bold; !important;
}

label {
  display: block; 
  margin: 0.5em 0 0.2em; 
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
textarea,
select {
  font-family: inherit;
  padding: 0.5em 0.6em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  display: block;
  margin: 0.25em 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0; !important;
  border-color: #000; !important;
}

input[type="radio"]{
  margin: 0 0.5em; !important;
}
input[type="radio"]:focus{
  outline: thin solid #129FEA; !important;
  outline: 1px auto #129FEA; !important;
}

textarea {
  resize: none; 
  width: 50%;
  height: 8em;

}

button,
.button {
   margin: 0.35em 0;
   font-family: inherit;
   padding: 0.5em 1em;
   color: rgba(0, 0, 0, 0.80);
   border: none rgba(0, 0, 0, 0);
   background-color: #E6E6E6;
   text-decoration: none;
   border-radius: 2px;
   display: inline-block;
   line-height: normal;
   white-space: nowrap;
   vertical-align: middle;
   text-align: center;
   cursor: pointer;
   -webkit-user-drag: none;
   user-select: none;
   box-sizing: border-box;
   font-size: 12px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
   background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
button:focus
.button:focus {
   outline: 0;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

caption {
  font-size: 18px;
}

th {
  height: 100px;
  background-color: #4e0606;
  color: white;
}

 td {
  padding: 15px;
  text-align: left;
}

div.form{
  margin: 0 auto;
  width: 50%;
}

.status {
  text-align: center;
}


.step{
  font-weight: bolder;
  font-size: 18px;
}


.input-1-2 {
  width: 100%;
}

.tempo_div {
  padding-left: 30px;
}

.form-error{
  padding: 0 0 0 20px;
  color:red;
  font-size: 14px;
}

.beats {
  display: block;
}

.td_lvl{
  font-weight: bolder;
}

.info_icon {
  width: 18px;
  height: 18px;
}

.info{

}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-left: 5%;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: white;;
  color: black;
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 105%;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  cursor:pointer;
}


.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 40%;
  top: 40%;
  margin: -200px 0 0 -200px;
  background: white;
}

.modal-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  cursor: pointer;
  padding: 5px;

}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}



.order-details{
  column-count: 2;
}

.row {
  display: block;
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  break-inside: avoid-column;
}


.item{
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

.span-select{
  position: absolute;
}

.status-span {
  padding-top: 16px;
  padding-bottom: 20px;
}


#rates_table {
  margin-left:10%;
  margin-right:auto;
}


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#icon_logo {
  height: 50px;
  width: 100px;
}

#header{
  position:absolute;
  z-index:1;
  top:0px;
  right: 100px;
}

#home_header {
  position: absolute;
  height: 75px;
  display:block;
  width: 100%;
  z-index:1;
  padding: 20px 0 0 0;
  top:0px;
  text-align: left;
}


#login {
  font-size: 12px;
  display: inline-block;
}



#about_section, #order_section, #home_section, #contact_section, #objective_section{
  padding: 0 40px 0 40px;
}

#home_section, #contact_section {
  text-align: center;
}

/* #home_section{
  color: #F7F7F2 ;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/Theater_stage.jpg);
} */


#main_h1{
  font-family: 'Dancing Script';
  font-size: 140px;
  text-shadow: 0px 0px 10px #FFF;
}

#home_section {
  background-color: #2B2B2B;
  color: white;
}


#status_bookmark {
  text-align: center;
}

#statusBox {
  margin: 5%;
  padding: 20px;
  border: 5px solid #4e0606;
  width: 80vw;
  text-align: center;
  display:inline-block;
}

#orderd {
  text-align: center;
}


#orderd a{
  font-size: 20px;
}

#password {
  width: 100%;
}

#submit_button {
  visibility:hidden;
}

#slogan {
  font-size: 20px;
}




@media only screen and (max-width: 1000px) {
  /* textarea {
    width: 100%;
  } */
  form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }

  iframe {
    width: 100%;
  }

  #home_section h1{
    font-size: 100px;
  }

  #contact_section form input[type="text"]{
    width: 100%;
  }

  #contact_section form textarea{
    width: 100%;
  }

  .order-details{
    column-count: 1;
  }

}

@media only screen and (max-width: 560px) {
  #main_h1{
    font-family: 'Dancing Script';
    font-size: 100px;
    text-shadow: 0px 0px 10px #FFF;
  }
}
