html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'GFS Didot';

}

.body-container{
  background: url('../images/backdrop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0px;
  padding: 0px;
}

hr.solid {
  border-top: 3px solid #fff;
  width: 60%;
  margin-left: 0;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}

.footer .row {
  padding: 30px;

}

.form-error{
  padding: 0 0 0 20px;
  color:red;
  font-size: 14px;
}

.rounded-img {
  border-radius: 20%;
  width: 100%;
}

.black-back {
  background-color: #343b43;
}

.persuasion {
  font-size: 20px;
  font-weight: bolder;
}

.bordered {
  border: solid black 1px;
}

.class-level {
  font-weight: bolder;
}


#order_section .row {
  margin: 6%;
}

#objective_section .row {
  margin: 6%;
}

#submit_button {
  visibility: hidden;
}

.main_h1{
  font-size: 400%;
  text-shadow: 0px 0px 10px #FFF;
  color:white;
}

#footer_h1 {
  text-shadow: 0px 0px 10px #FFF;
  color:white;
}

#status_table {
  margin-bottom: 20vh;
}

#contact_div {
  background-color: white;
  margin: 5% 10%;
  border-radius: 100px;
}

#home_section, #about_section, #objective_section, #order_section,  #order-divider{
  margin-bottom: 5%;
}

#about_section, #objective_section, #order_section,  #contact_section{
  padding-top: 10%
}

 #form_section, #status-section {
   margin-bottom: 40%;
 }

#contact_section {
  background: url('../images/obj-5.jpg') no-repeat center center fixed;
  linear-gradient(#000, #FFF);

}

#contact_form {
  padding-top: 10% ;
  padding-left: 10%;
  padding-right: 10%;

}

#main_title {

  background-color: black;
}

#main_picture {
    padding-left: 10%;
}

#vertical-center-text {
  vertical-align: middle;
}

#slogan {
  padding-top: 40%;
  font-size: 30px;
}

#youtube {
  background-color: black;
  float: right;
}

#status-section {
  line-height: 30px;
}

#status_check_row {
  margin-top: 90px;
}

#col-pt a{
  color: white;
}


/* Container holding the image and the text */
.image-container {
  position: relative;
  margin: 10%;
  text-align: center;
  color: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
