html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Italiana';
  font-size: 14px;
}

.body-container{
  background: url('../images/backdrop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0px;
  padding: 0px;
}

.form-container {
  padding: 0 20%;
}

hr.solid {
  border-top: 3px solid #fff;
  width: 60%;
  margin-left: 0;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;;
}

.footer .row {
  padding: 30px;

}

.form-error{
  padding: 0 0 0 20px;
  color:red;
  font-size: 14px;
}

.rounded-img {
  border-radius: 20%;
  width: 100%;
}



.black-back {
  background-color: #343b43;
}

.persuasion {
  font-size: 24px;
  font-weight: bolder;
}

.bordered {
  border: solid black 1px;
}

.class-level {
  font-weight: bolder;
}

p.italic {
  font-style: italic;
}


#about_section .row {
  margin: 6%;
}

#submit_button {
  visibility: hidden;
}

.main_h1{
  font-size: 400%;
  text-shadow: 0px 0px 10px #FFF;
  color:white;
}

#footer_h1 {
  text-shadow: 0px 0px 10px #FFF;
  color:white;
}

#status_check_row {
  margin-top: 1%;
}

#status_table {
  margin-bottom: 20vh;
}

#contact_div {
  background-color: white;
  margin: 5% 10%;
  border-radius: 100px;
}

#home_section, #about_section,  #order_section{
  margin-bottom: 5%;
}

#about_section,  #order_section,  #contact_section{
  padding-top: 10%
}

#about_section{
  padding-left: 10%;
  padding-right: 10%;
}

#order_section {
  padding-left:5%;
  padding-right: 5%;
}

 #form_section, #status-section {
   margin-bottom: 40%;
 }

#contact_section {
  background: url('../images/obj-5.jpg') no-repeat center center fixed;
}

#contact_form {
  padding-top: 10% ;
  padding-left: 10%;
  padding-right: 10%;

}

#form_section {
  line-height: 2;
}

#main_title {

  background-color: black;
}

#main_picture {
    padding-left: 10%;
}

#vertical-center-text {
  vertical-align: middle;
}

#slogan {
  padding-top: 40%;
  font-size: 30px;
}

#youtube {
  background-color: black;
  float: right;
}

#status-section {
  line-height: 30px;
}

#col-pt a{
  color: white;
}

#form_title {
  font-family: 'Cinzel';
}

/* Centered text */
.centered {
  position: relative;
  top: 50%;
  /* transform: translate(-50%, -50%); */
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: gray;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* order-container around content */
.order-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.order-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid gray;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the order-container to the left */
.left {
  left: 0;
}

/* Place the order-container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left order-container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #F5F5F5;
}

/* Add arrows to the right order-container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F5F5F5 transparent transparent;
}

/* Fix the circle for order-containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #F5F5F5;
  position: relative;
  border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width order-containers */
  .order-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .order-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F5F5F5 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right order-containers behave like the left ones */
  .right {
  left: 0%;
  }
}
